<div class="{{ menu_class }}"> <!-- Переменная для класса внешнего вида (ключ для ретурна) которую возьмем в menu.py -->
    <!-- Визуальное формирование самого меню (имя + ссылка)  1-ая ступень (след. menu.py)-->
    <ul>
         <li><a href="{% url 'home' %}">Home</a></li>
         {% for item in categories %} <!-- Перебор для формирования каждой ссылки (categories это название ключа для menu.py  -->
         <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>  <!-- Ф-цию берем из models.Category  -->
         {% endfor %}
     </ul>
    <!-- Теперь есть формирование меню с условными переменными, но сами данные нужно взять отдельно в menu.py -->
    <!-- там мы укажем заимствованный стиль (который эквивалентен menu_class) и данные для каждой категории (categories)-->
 </div>
